@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: $main-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $main-font-color;
  background-color: $main-bg-color;
}

.common-body-style {
  background-repeat: no-repeat;
  background-size: cover;
  @include mwContentMedia($tablet) {
    background-image: url(../images/common/main-bg-mobile.jpg);
    @include retina(common, main-bg, mobile, jpg);
  }

  @include andContentMedia($tablet, $desktop) {
    background-image: url(../images/common/main-bg-tablet.jpg);
    @include retina(common, main-bg, tablet, jpg);
  }

  @include contentMedia ($desktop) {
     background-image: url(../images/common/main-bg-desktop.jpg);
    @include retina(common, main-bg, tablet, jpg);
  }
}

.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  @extend %centred;

  @include contentMedia(480px) {
    width: $mobile;
  }

  @include contentMedia($tablet) {
    width: $tablet;
    padding-left: 40px;
    padding-right: 40px;
  }

  @include media($desktop);
}
