@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: $main-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $main-font-color;
  background-color: $main-bg-color;
}

.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  @extend %centred;

  // @include contentMedia ($mobile) {

  // }

  @include contentMedia($tablet) {
    width: $tablet;
    padding-left: 40px;
    padding-right: 40px;
  }

  @include media($desktop);
}
