@mixin animation($type) {
  transition: $type 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin media($width) {
  @media screen and (min-width: $width) {
    width: $width;
  }
}

@mixin contentMedia($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin mwContentMedia($width) {
  @media screen and (max-width: ($width - 1px)) {
    @content;
  }
}

@mixin andContentMedia($minWidth, $maxWidth) {
  @media screen and (min-width: $minWidth) and (max-width: ($maxWidth - 1px)) {
    @content;
  }
}

@mixin retina($folder, $name, $width, $type) {
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/#{$folder}/#{$name}-#{$width}@2x.#{$type});
    @content;
  }
}

@mixin heroRetina($name, $type) {
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/main/#{$name}@2x.#{$type});
    @content;
  }
}

@mixin heroBg(
  $folder-first-layer,
  $name-first-layer,
  $width-first-layer,
  $type-first-layer,
  $folder-second-layer,
  $name-second-layer,
  $width-second-layer,
  $type-second-layer,
  $folder-thirst-layer,
  $name-thirst-layer,
  $width-thirst-layer,
  $type-thirst-layer,
  $folder-fourth-layer,
  $name-fourth-layer,
  $type-fourth-layer
) {
  background-image: url(../images/#{$folder-first-layer}/#{$name-first-layer}-#{$width-first-layer}@1x.#{$type-first-layer}),
    url(../images/#{$folder-second-layer}/#{$name-second-layer}-#{$width-second-layer}@1x.#{$type-second-layer}),
    url(../images/#{$folder-thirst-layer}/#{$name-thirst-layer}-#{$width-thirst-layer}@1x.#{$type-thirst-layer}),
    url(../images/#{$folder-fourth-layer}/#{$name-fourth-layer}@1x.#{$type-fourth-layer});
}

@mixin layerRetina(
  $folder-first-layer,
  $name-first-layer,
  $width-first-layer,
  $type-first-layer,
  $folder-second-layer,
  $name-second-layer,
  $width-second-layer,
  $type-second-layer,
  $folder-thirst-layer,
  $name-thirst-layer,
  $width-thirst-layer,
  $type-thirst-layer,
  $folder-fourth-layer,
  $name-fourth-layer,
  $type-fourth-layer
) {
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/#{$folder-first-layer}/#{$name-first-layer}-#{$width-first-layer}@2x.#{$type-first-layer}),
      url(../images/#{$folder-second-layer}/#{$name-second-layer}-#{$width-second-layer}@2x.#{$type-second-layer}),
      url(../images/#{$folder-thirst-layer}/#{$name-thirst-layer}-#{$width-thirst-layer}@2x.#{$type-thirst-layer}),
      url(../images/#{$folder-fourth-layer}/#{$name-fourth-layer}@2x.#{$type-fourth-layer});
    @content;
  }
}

@mixin calc($gap, $quantity) {
  width: calc((100% - ($gap * ($quantity - 1))) / $quantity);
}
