$main-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto Condensed', sans-serif;
$accent-font: 'Open Sans', sans-serif;
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;
$transition-duration-value: 250ms;
$timing-function-value: cubic-bezier(0.4, 0, 0.2, 1);
$main-font-color: #ffffff;
$main-bg-color: #01383a;
