$main-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto Condensed', sans-serif;
$accent-font: 'Open Sans', sans-serif;
$main-font-color: #ffffff;
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;
$main-bg-color: #01383a;
$main-btn-color: #86E543;
$btn-text-color: #01383A;