$main-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto Condensed', sans-serif;
$accent-font: 'Open Sans', sans-serif;
$main-font-color: #ffffff;
$mobile: 480px;
$tablet: 786px;
$desktop: 1280px;
$main-bg-color: #01383a;