<section class="accessories">
  <div class="container container-ass">
    <ul class="accessories__filter">
      <li class="accessories__item">
        <button class="accessories__button" type="button">All</button>
      </li>
      <li class="accessories__item">
        <button class="accessories__button" type="button">Headsets</button>
      </li>
      <li class="accessories__item">
        <button class="accessories__button" type="button">Keyboards</button>
      </li>
      <li class="accessories__item">
        <button class="accessories__button" type="button">Mouses</button>
      </li>
    </ul>

    <h2 class="accessories__title">All accessories</h2>

    <ul class="accessories__list">
      <li class="accessories__article article">
        <a href="" class="article__link">
          <div class="article__wrap">
            <div class="shutter">
              <p class="shutter__text">100% Brand new and high quality!</p>
              <p class="shutter__text">
                Ergonomic in design makes it more adjustable to use
              </p>
              <p class="shutter__text">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="shutter__text">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="shutter__text">
                It is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>

            <img
              class="article__image"
              srcset="
                /src/images/accesories/card-one.jpg    1x,
                /src/images/accesories/card-one_2x.jpg 2x
              "
              src="/src/images/accesories/card-one.jpg"
              alt=""
            />
          </div>
          <div class="article__footer">
            <h3 class="article__title">Xiberia K9 PRO PC Headset</h3>
            <div class="article__wrap-text">
              <p class="article__text-one">65.14 USD</p>
              <p class="article__text-two">55.14 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="accessories__article article">
        <a href="" class="article__link">
          <div class="article__wrap">
            <div class="shutter">
              <p class="shutter__text">100% Brand new and high quality!</p>
              <p class="shutter__text">
                Ergonomic in design makes it more adjustable to use
              </p>
              <p class="shutter__text">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="shutter__text">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="shutter__text">
                It is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>

            <img
              class="article__image"
              srcset="
                /src/images/accesories/card-one.jpg    1x,
                /src/images/accesories/card-one_2x.jpg 2x
              "
              src="/src/images/accesories/card-one.jpg"
              alt=""
            />
          </div>
          <div class="article__footer">
            <h3 class="article__title">Xiberia K9 PRO PC Headset</h3>
            <div class="article__wrap-text">
              <p class="article__text-one">65.14 USD</p>
              <p class="article__text-two">55.14 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="accessories__article article">
        <a href="" class="article__link">
          <div class="article__wrap">
            <div class="shutter">
              <p class="shutter__text">100% Brand new and high quality!</p>
              <p class="shutter__text">
                Ergonomic in design makes it more adjustable to use
              </p>
              <p class="shutter__text">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="shutter__text">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="shutter__text">
                It is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>

            <img
              class="article__image"
              srcset="
                /src/images/accesories/card-one.jpg    1x,
                /src/images/accesories/card-one_2x.jpg 2x
              "
              src="/src/images/accesories/card-one.jpg"
              alt=""
            />
          </div>
          <div class="article__footer">
            <h3 class="article__title">Xiberia K9 PRO PC Headset</h3>
            <div class="article__wrap-text">
              <p class="article__text-one">65.14 USD</p>
              <p class="article__text-two">55.14 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="accessories__article article">
        <a href="" class="article__link">
          <div class="article__wrap">
            <div class="shutter">
              <p class="shutter__text">100% Brand new and high quality!</p>
              <p class="shutter__text">
                Ergonomic in design makes it more adjustable to use
              </p>
              <p class="shutter__text">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="shutter__text">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="shutter__text">
                It is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>

            <img
              class="article__image"
              srcset="
                /src/images/accesories/card-one.jpg    1x,
                /src/images/accesories/card-one_2x.jpg 2x
              "
              src="/src/images/accesories/card-one.jpg"
              alt=""
            />
          </div>
          <div class="article__footer">
            <h3 class="article__title">Xiberia K9 PRO PC Headset</h3>
            <div class="article__wrap-text">
              <p class="article__text-one">65.14 USD</p>
              <p class="article__text-two">55.14 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="accessories__article article">
        <a href="" class="article__link">
          <div class="article__wrap">
            <div class="shutter">
              <p class="shutter__text">100% Brand new and high quality!</p>
              <p class="shutter__text">
                Ergonomic in design makes it more adjustable to use
              </p>
              <p class="shutter__text">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="shutter__text">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="shutter__text">
                It is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>

            <img
              class="article__image"
              srcset="
                /src/images/accesories/card-one.jpg    1x,
                /src/images/accesories/card-one_2x.jpg 2x
              "
              src="/src/images/accesories/card-one.jpg"
              alt=""
            />
          </div>
          <div class="article__footer">
            <h3 class="article__title">Xiberia K9 PRO PC Headset</h3>
            <div class="article__wrap-text">
              <p class="article__text-one">65.14 USD</p>
              <p class="article__text-two">55.14 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="accessories__article article">
        <a href="" class="article__link">
          <div class="article__wrap">
            <div class="shutter">
              <p class="shutter__text">100% Brand new and high quality!</p>
              <p class="shutter__text">
                Ergonomic in design makes it more adjustable to use
              </p>
              <p class="shutter__text">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="shutter__text">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="shutter__text">
                It is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>

            <img
              class="article__image"
              srcset="
                /src/images/accesories/card-one.jpg    1x,
                /src/images/accesories/card-one_2x.jpg 2x
              "
              src="/src/images/accesories/card-one.jpg"
              alt=""
            />
          </div>
          <div class="article__footer">
            <h3 class="article__title">Xiberia K9 PRO PC Headset</h3>
            <div class="article__wrap-text">
              <p class="article__text-one">65.14 USD</p>
              <p class="article__text-two">55.14 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="accessories__article article">
        <a href="" class="article__link">
          <div class="article__wrap">
            <div class="shutter">
              <p class="shutter__text">100% Brand new and high quality!</p>
              <p class="shutter__text">
                Ergonomic in design makes it more adjustable to use
              </p>
              <p class="shutter__text">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="shutter__text">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="shutter__text">
                It is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>

            <img
              class="article__image"
              srcset="
                /src/images/accesories/card-one.jpg    1x,
                /src/images/accesories/card-one_2x.jpg 2x
              "
              src="/src/images/accesories/card-one.jpg"
              alt=""
            />
          </div>
          <div class="article__footer">
            <h3 class="article__title">Xiberia K9 PRO PC Headset</h3>
            <div class="article__wrap-text">
              <p class="article__text-one">65.14 USD</p>
              <p class="article__text-two">55.14 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="accessories__article article">
        <a href="" class="article__link">
          <div class="article__wrap">
            <div class="shutter">
              <p class="shutter__text">100% Brand new and high quality!</p>
              <p class="shutter__text">
                Ergonomic in design makes it more adjustable to use
              </p>
              <p class="shutter__text">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="shutter__text">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="shutter__text">
                It is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>

            <img
              class="article__image"
              srcset="
                /src/images/accesories/card-one.jpg    1x,
                /src/images/accesories/card-one_2x.jpg 2x
              "
              src="/src/images/accesories/card-one.jpg"
              alt=""
            />
          </div>
          <div class="article__footer">
            <h3 class="article__title">Xiberia K9 PRO PC Headset</h3>
            <div class="article__wrap-text">
              <p class="article__text-one">65.14 USD</p>
              <p class="article__text-two">55.14 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="accessories__article article">
        <a href="" class="article__link">
          <div class="article__wrap">
            <div class="shutter">
              <p class="shutter__text">100% Brand new and high quality!</p>
              <p class="shutter__text">
                Ergonomic in design makes it more adjustable to use
              </p>
              <p class="shutter__text">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="shutter__text">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="shutter__text">
                It is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>

            <img
              class="article__image"
              srcset="
                /src/images/accesories/card-one.jpg    1x,
                /src/images/accesories/card-one_2x.jpg 2x
              "
              src="/src/images/accesories/card-one.jpg"
              alt=""
            />
          </div>
          <div class="article__footer">
            <h3 class="article__title">Xiberia K9 PRO PC Headset</h3>
            <div class="article__wrap-text">
              <p class="article__text-one">65.14 USD</p>
              <p class="article__text-two">55.14 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="accessories__article article">
        <a href="" class="article__link">
          <div class="article__wrap">
            <div class="shutter">
              <p class="shutter__text">100% Brand new and high quality!</p>
              <p class="shutter__text">
                Ergonomic in design makes it more adjustable to use
              </p>
              <p class="shutter__text">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="shutter__text">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="shutter__text">
                It is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>

            <img
              class="article__image"
              srcset="
                /src/images/accesories/card-one.jpg    1x,
                /src/images/accesories/card-one_2x.jpg 2x
              "
              src="/src/images/accesories/card-one.jpg"
              alt=""
            />
          </div>
          <div class="article__footer">
            <h3 class="article__title">Xiberia K9 PRO PC Headset</h3>
            <div class="article__wrap-text">
              <p class="article__text-one">65.14 USD</p>
              <p class="article__text-two">55.14 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="accessories__article article">
        <a href="" class="article__link">
          <div class="article__wrap">
            <div class="shutter">
              <p class="shutter__text">100% Brand new and high quality!</p>
              <p class="shutter__text">
                Ergonomic in design makes it more adjustable to use
              </p>
              <p class="shutter__text">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="shutter__text">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="shutter__text">
                It is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>

            <img
              class="article__image"
              srcset="
                /src/images/accesories/card-one.jpg    1x,
                /src/images/accesories/card-one_2x.jpg 2x
              "
              src="/src/images/accesories/card-one.jpg"
              alt=""
            />
          </div>
          <div class="article__footer">
            <h3 class="article__title">Xiberia K9 PRO PC Headset</h3>
            <div class="article__wrap-text">
              <p class="article__text-one">65.14 USD</p>
              <p class="article__text-two">55.14 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="accessories__article article">
        <a href="" class="article__link">
          <div class="article__wrap">
            <div class="shutter">
              <p class="shutter__text">100% Brand new and high quality!</p>
              <p class="shutter__text">
                Ergonomic in design makes it more adjustable to use
              </p>
              <p class="shutter__text">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="shutter__text">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="shutter__text">
                It is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>

            <img
              class="article__image"
              srcset="
                /src/images/accesories/card-one.jpg    1x,
                /src/images/accesories/card-one_2x.jpg 2x
              "
              src="/src/images/accesories/card-one.jpg"
              alt=""
            />
          </div>
          <div class="article__footer">
            <h3 class="article__title">Xiberia K9 PRO PC Headset</h3>
            <div class="article__wrap-text">
              <p class="article__text-one">65.14 USD</p>
              <p class="article__text-two">55.14 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="accessories__article article">
        <a href="" class="article__link">
          <div class="article__wrap">
            <div class="shutter">
              <p class="shutter__text">100% Brand new and high quality!</p>
              <p class="shutter__text">
                Ergonomic in design makes it more adjustable to use
              </p>
              <p class="shutter__text">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="shutter__text">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="shutter__text">
                It is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>

            <img
              class="article__image"
              srcset="
                /src/images/accesories/card-one.jpg    1x,
                /src/images/accesories/card-one_2x.jpg 2x
              "
              src="/src/images/accesories/card-one.jpg"
              alt=""
            />
          </div>
          <div class="article__footer">
            <h3 class="article__title">Xiberia K9 PRO PC Headset</h3>
            <div class="article__wrap-text">
              <p class="article__text-one">65.14 USD</p>
              <p class="article__text-two">55.14 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="accessories__article article">
        <a href="" class="article__link">
          <div class="article__wrap">
            <div class="shutter">
              <p class="shutter__text">100% Brand new and high quality!</p>
              <p class="shutter__text">
                Ergonomic in design makes it more adjustable to use
              </p>
              <p class="shutter__text">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="shutter__text">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="shutter__text">
                It is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>

            <img
              class="article__image"
              srcset="
                /src/images/accesories/card-one.jpg    1x,
                /src/images/accesories/card-one_2x.jpg 2x
              "
              src="/src/images/accesories/card-one.jpg"
              alt=""
            />
          </div>
          <div class="article__footer">
            <h3 class="article__title">Xiberia K9 PRO PC Headset</h3>
            <div class="article__wrap-text">
              <p class="article__text-one">65.14 USD</p>
              <p class="article__text-two">55.14 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="accessories__article article">
        <a href="" class="article__link">
          <div class="article__wrap">
            <div class="shutter">
              <p class="shutter__text">100% Brand new and high quality!</p>
              <p class="shutter__text">
                Ergonomic in design makes it more adjustable to use
              </p>
              <p class="shutter__text">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="shutter__text">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="shutter__text">
                It is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>

            <img
              class="article__image"
              srcset="
                /src/images/accesories/card-one.jpg    1x,
                /src/images/accesories/card-one_2x.jpg 2x
              "
              src="/src/images/accesories/card-one.jpg"
              alt=""
            />
          </div>
          <div class="article__footer">
            <h3 class="article__title">Xiberia K9 PRO PC Headset</h3>
            <div class="article__wrap-text">
              <p class="article__text-one">65.14 USD</p>
              <p class="article__text-two">55.14 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="accessories__article article">
        <a href="" class="article__link">
          <div class="article__wrap">
            <div class="shutter">
              <p class="shutter__text">100% Brand new and high quality!</p>
              <p class="shutter__text">
                Ergonomic in design makes it more adjustable to use
              </p>
              <p class="shutter__text">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="shutter__text">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="shutter__text">
                It is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>

            <img
              class="article__image"
              srcset="
                /src/images/accesories/card-one.jpg    1x,
                /src/images/accesories/card-one_2x.jpg 2x
              "
              src="/src/images/accesories/card-one.jpg"
              alt=""
            />
          </div>
          <div class="article__footer">
            <h3 class="article__title">Xiberia K9 PRO PC Headset</h3>
            <div class="article__wrap-text">
              <p class="article__text-one">65.14 USD</p>
              <p class="article__text-two">55.14 USD</p>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
