<section class="accessories">
  <div class="container">
    <ul class="accessories__filter">
      <li class="accessories__item">
        <button class="accessories__button" type="button">All</button>
      </li>
      <li class="accessories__item">
        <button class="accessories__button" type="button">Headsets</button>
      </li>
      <li class="accessories__item">
        <button class="accessories__button" type="button">Keyboards</button>
      </li>
      <li class="accessories__item">
        <button class="accessories__button" type="button">Mouses</button>
      </li>
    </ul>

    <h2 class="accessories__title">All accessories</h2>

    <!-- <ul class="accessories__list">
      <li class="accessories__article article">
        <a href="" class="article__link">
          <div class="article__wrap">
            <div class="shutter">
              <p class="shutter__text">
                100% Brand new and high quality! Ergonomic in design makes it
                more adjustable to use. More fashionable for your daily use,
                such as playing games. Built-in high sensitivity and noise
                reduction microphone. It is not easy to break or deform, and
                wear comfortable, no pressure.
              </p>
            </div>
            <picture>
              <source class="article__image" srcset="" media="" />
              <source class="article__image" srcset="" media="" />
              <img class="article__image" srcset="" src="" alt="" />
            </picture>
            <div class="article__footer">
              <h3 class="article__title">Xiberia K9 PRO PC Headset</h3>
              <p class="article__text-one">65.14 USD</p>
              <p class="article__text-two">55.14 USD</p>
            </div>
          </div>
        </a>
      </li>
    </ul> -->
  </div>
</section>
