<section class="accessories">
  <div class="container container-ass">
    <ul class="accessories__filter">
      <li class="accessories__item">
        <button class="accessories__button" type="button">All</button>
      </li>
      <li class="accessories__item">
        <button class="accessories__button" type="button">Headsets</button>
      </li>
      <li class="accessories__item">
        <button class="accessories__button" type="button">Keyboards</button>
      </li>
      <li class="accessories__item">
        <button class="accessories__button" type="button">Mouses</button>
      </li>
    </ul>

    <h2 class="accessories__title">All accessories</h2>

    <ul class="accessories__list">
      <li class="accessories__article article">
        <a href="" class="article__link">
          <div class="article__wrap">
            <div class="shutter">
              <p class="shutter__text">100% Brand new and high quality!</p>
              <p class="shutter__text">
                Ergonomic in design makes it more adjustable to use
              </p>
              <p class="shutter__text">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="shutter__text">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="shutter__text">
                It is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>

            <img
              class="article__image"
              srcset="
                /src/images/accesories/card-one.jpg    1x,
                /src/images/accesories/card-one_2x.jpg 2x
              "
              src="/src/images/accesories/card-one.jpg"
              alt=""
            />
          </div>
          <div class="article__footer">
            <h3 class="article__title">Xiberia K9 PRO PC Headset</h3>
            <div class="article__wrap-text">
              <p class="article__text-one">65.14 USD</p>
              <p class="article__text-two">55.14 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="accessories__article article">
        <a href="" class="article__link">
          <div class="article__wrap">
            <div class="shutter">
              <p class="shutter__text">100% Brand new and high quality!</p>
              <p class="shutter__text">
                Ergonomic in design makes it more adjustable to use
              </p>
              <p class="shutter__text">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="shutter__text">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="shutter__text">
                It is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>

            <img
              class="article__image"
              srcset="
                /src/images/accesories/card-two.jpg    1x,
                /src/images/accesories/card-two_2x.jpg 2x
              "
              src="/src/images/accesories/card-two.jpg"
              alt=""
            />
          </div>
          <div class="article__footer">
            <h3 class="article__title">Xiberia K9 PRO PC Headset</h3>
            <div class="article__wrap-text">
              <p class="article__text-one">65.14 USD</p>
              <p class="article__text-two">55.14 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="accessories__article article">
        <a href="" class="article__link">
          <div class="article__wrap">
            <div class="shutter">
              <p class="shutter__text">100% Brand new and high quality!</p>
              <p class="shutter__text">
                Ergonomic in design makes it more adjustable to use
              </p>
              <p class="shutter__text">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="shutter__text">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="shutter__text">
                It is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>

            <img
              class="article__image"
              srcset="
                /src/images/accesories/card-three.jpg    1x,
                /src/images/accesories/card-three_2x.jpg 2x
              "
              src="/src/images/accesories/card-three.jpg"
              alt=""
            />
          </div>
          <div class="article__footer">
            <h3 class="article__title">Xiberia K9 PRO PC Headset</h3>
            <div class="article__wrap-text">
              <p class="article__text-one">65.14 USD</p>
              <p class="article__text-two">55.14 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="accessories__article article">
        <a href="" class="article__link">
          <div class="article__wrap">
            <div class="shutter">
              <p class="shutter__text">100% Brand new and high quality!</p>
              <p class="shutter__text">
                Ergonomic in design makes it more adjustable to use
              </p>
              <p class="shutter__text">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="shutter__text">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="shutter__text">
                It is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>

            <img
              class="article__image"
              srcset="
                /src/images/accesories/card-four.jpg    1x,
                /src/images/accesories/card-four_2x.jpg 2x
              "
              src="/src/images/accesories/card-four.jpg"
              alt=""
            />
          </div>
          <div class="article__footer">
            <h3 class="article__title">Xiberia K9 PRO PC Headset</h3>
            <div class="article__wrap-text">
              <p class="article__text-one">65.14 USD</p>
              <p class="article__text-two">55.14 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="accessories__article article">
        <a href="" class="article__link">
          <div class="article__wrap">
            <div class="shutter">
              <p class="shutter__text">100% Brand new and high quality!</p>
              <p class="shutter__text">
                Ergonomic in design makes it more adjustable to use
              </p>
              <p class="shutter__text">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="shutter__text">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="shutter__text">
                It is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>

            <img
              class="article__image"
              srcset="
                /src/images/accesories/card-five.jpg    1x,
                /src/images/accesories/card-five_2x.jpg 2x
              "
              src="/src/images/accesories/card-five.jpg"
              alt=""
            />
          </div>
          <div class="article__footer">
            <h3 class="article__title">Xiberia K9 PRO PC Headset</h3>
            <div class="article__wrap-text">
              <p class="article__text-one">65.14 USD</p>
              <p class="article__text-two">55.14 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="accessories__article article">
        <a href="" class="article__link">
          <div class="article__wrap">
            <div class="shutter">
              <p class="shutter__text">100% Brand new and high quality!</p>
              <p class="shutter__text">
                Ergonomic in design makes it more adjustable to use
              </p>
              <p class="shutter__text">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="shutter__text">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="shutter__text">
                It is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>

            <img
              class="article__image"
              srcset="
                /src/images/accesories/card-six.jpg    1x,
                /src/images/accesories/card-six_2x.jpg 2x
              "
              src="/src/images/accesories/card-six.jpg"
              alt=""
            />
          </div>
          <div class="article__footer">
            <h3 class="article__title">Xiberia K9 PRO PC Headset</h3>
            <div class="article__wrap-text">
              <p class="article__text-one">65.14 USD</p>
              <p class="article__text-two">55.14 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="accessories__article article">
        <a href="" class="article__link">
          <div class="article__wrap">
            <div class="shutter">
              <p class="shutter__text">100% Brand new and high quality!</p>
              <p class="shutter__text">
                Ergonomic in design makes it more adjustable to use
              </p>
              <p class="shutter__text">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="shutter__text">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="shutter__text">
                It is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>

            <img
              class="article__image"
              srcset="
                /src/images/accesories/card-seven.jpg    1x,
                /src/images/accesories/card-seven_2x.jpg 2x
              "
              src="/src/images/accesories/card-seven.jpg"
              alt=""
            />
          </div>
          <div class="article__footer">
            <h3 class="article__title">Xiberia K9 PRO PC Headset</h3>
            <div class="article__wrap-text">
              <p class="article__text-one">65.14 USD</p>
              <p class="article__text-two">55.14 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="accessories__article article">
        <a href="" class="article__link">
          <div class="article__wrap">
            <div class="shutter">
              <p class="shutter__text">100% Brand new and high quality!</p>
              <p class="shutter__text">
                Ergonomic in design makes it more adjustable to use
              </p>
              <p class="shutter__text">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="shutter__text">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="shutter__text">
                It is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>

            <img
              class="article__image"
              srcset="
                /src/images/accesories/card-eight.jpg    1x,
                /src/images/accesories/card-eight_2x.jpg 2x
              "
              src="/src/images/accesories/card-eight.jpg"
              alt=""
            />
          </div>
          <div class="article__footer">
            <h3 class="article__title">Xiberia K9 PRO PC Headset</h3>
            <div class="article__wrap-text">
              <p class="article__text-one">65.14 USD</p>
              <p class="article__text-two">55.14 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="accessories__article article">
        <a href="" class="article__link">
          <div class="article__wrap">
            <div class="shutter">
              <p class="shutter__text">100% Brand new and high quality!</p>
              <p class="shutter__text">
                Ergonomic in design makes it more adjustable to use
              </p>
              <p class="shutter__text">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="shutter__text">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="shutter__text">
                It is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>

            <img
              class="article__image"
              srcset="
                /src/images/accesories/card-nine.jpg    1x,
                /src/images/accesories/card-nine_2x.jpg 2x
              "
              src="/src/images/accesories/card-nine.jpg"
              alt=""
            />
          </div>
          <div class="article__footer">
            <h3 class="article__title">Xiberia K9 PRO PC Headset</h3>
            <div class="article__wrap-text">
              <p class="article__text-one">65.14 USD</p>
              <p class="article__text-two">55.14 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="accessories__article article">
        <a href="" class="article__link">
          <div class="article__wrap">
            <div class="shutter">
              <p class="shutter__text">100% Brand new and high quality!</p>
              <p class="shutter__text">
                Ergonomic in design makes it more adjustable to use
              </p>
              <p class="shutter__text">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="shutter__text">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="shutter__text">
                It is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>

            <img
              class="article__image"
              srcset="
                /src/images/accesories/card-ten.jpg    1x,
                /src/images/accesories/card-ten_2x.jpg 2x
              "
              src="/src/images/accesories/card-ten.jpg"
              alt=""
            />
          </div>
          <div class="article__footer">
            <h3 class="article__title">Xiberia K9 PRO PC Headset</h3>
            <div class="article__wrap-text">
              <p class="article__text-one">65.14 USD</p>
              <p class="article__text-two">55.14 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="accessories__article article">
        <a href="" class="article__link">
          <div class="article__wrap">
            <div class="shutter">
              <p class="shutter__text">100% Brand new and high quality!</p>
              <p class="shutter__text">
                Ergonomic in design makes it more adjustable to use
              </p>
              <p class="shutter__text">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="shutter__text">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="shutter__text">
                It is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>

            <img
              class="article__image"
              srcset="
                /src/images/accesories/card-eleven.jpg    1x,
                /src/images/accesories/card-eleven_2x.jpg 2x
              "
              src="/src/images/accesories/card-eleven.jpg"
              alt=""
            />
          </div>
          <div class="article__footer">
            <h3 class="article__title">Xiberia K9 PRO PC Headset</h3>
            <div class="article__wrap-text">
              <p class="article__text-one">65.14 USD</p>
              <p class="article__text-two">55.14 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="accessories__article article">
        <a href="" class="article__link">
          <div class="article__wrap">
            <div class="shutter">
              <p class="shutter__text">100% Brand new and high quality!</p>
              <p class="shutter__text">
                Ergonomic in design makes it more adjustable to use
              </p>
              <p class="shutter__text">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="shutter__text">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="shutter__text">
                It is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>

            <img
              class="article__image"
              srcset="
                /src/images/accesories/card-twelve.jpg    1x,
                /src/images/accesories/card-twelve_2x.jpg 2x
              "
              src="/src/images/accesories/card-twelve.jpg"
              alt=""
            />
          </div>
          <div class="article__footer">
            <h3 class="article__title">Xiberia K9 PRO PC Headset</h3>
            <div class="article__wrap-text">
              <p class="article__text-one">65.14 USD</p>
              <p class="article__text-two">55.14 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="accessories__article article">
        <a href="" class="article__link">
          <div class="article__wrap">
            <div class="shutter">
              <p class="shutter__text">100% Brand new and high quality!</p>
              <p class="shutter__text">
                Ergonomic in design makes it more adjustable to use
              </p>
              <p class="shutter__text">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="shutter__text">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="shutter__text">
                It is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>

            <img
              class="article__image"
              srcset="
                /src/images/accesories/card-thirteen.jpg    1x,
                /src/images/accesories/card-thirteen_2x.jpg 2x
              "
              src="/src/images/accesories/card-thirteen.jpg"
              alt=""
            />
          </div>
          <div class="article__footer">
            <h3 class="article__title">Xiberia K9 PRO PC Headset</h3>
            <div class="article__wrap-text">
              <p class="article__text-one">65.14 USD</p>
              <p class="article__text-two">55.14 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="accessories__article article">
        <a href="" class="article__link">
          <div class="article__wrap">
            <div class="shutter">
              <p class="shutter__text">100% Brand new and high quality!</p>
              <p class="shutter__text">
                Ergonomic in design makes it more adjustable to use
              </p>
              <p class="shutter__text">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="shutter__text">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="shutter__text">
                It is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>

            <img
              class="article__image"
              srcset="
                /src/images/accesories/card-fourteen.jpg    1x,
                /src/images/accesories/card-fourteen_2x.jpg 2x
              "
              src="/src/images/accesories/card-fourteen.jpg"
              alt=""
            />
          </div>
          <div class="article__footer">
            <h3 class="article__title">Xiberia K9 PRO PC Headset</h3>
            <div class="article__wrap-text">
              <p class="article__text-one">65.14 USD</p>
              <p class="article__text-two">55.14 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="accessories__article article">
        <a href="" class="article__link">
          <div class="article__wrap">
            <div class="shutter">
              <p class="shutter__text">100% Brand new and high quality!</p>
              <p class="shutter__text">
                Ergonomic in design makes it more adjustable to use
              </p>
              <p class="shutter__text">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="shutter__text">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="shutter__text">
                It is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>

            <img
              class="article__image"
              srcset="
                /src/images/accesories/card-fifteen.jpg    1x,
                /src/images/accesories/card-fifteen_2x.jpg 2x
              "
              src="/src/images/accesories/card-fifteen.jpg"
              alt=""
            />
          </div>
          <div class="article__footer">
            <h3 class="article__title">Xiberia K9 PRO PC Headset</h3>
            <div class="article__wrap-text">
              <p class="article__text-one">65.14 USD</p>
              <p class="article__text-two">55.14 USD</p>
            </div>
          </div>
        </a>
      </li>
      <li class="accessories__article article">
        <a href="" class="article__link">
          <div class="article__wrap">
            <div class="shutter">
              <p class="shutter__text">100% Brand new and high quality!</p>
              <p class="shutter__text">
                Ergonomic in design makes it more adjustable to use
              </p>
              <p class="shutter__text">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="shutter__text">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="shutter__text">
                It is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>

            <img
              class="article__image"
              srcset="
                /src/images/accesories/card-sixteen.jpg    1x,
                /src/images/accesories/card-sixteen_2x.jpg 2x
              "
              src="/src/images/accesories/card-sixteen.jpg"
              alt=""
            />
          </div>
          <div class="article__footer">
            <h3 class="article__title">Xiberia K9 PRO PC Headset</h3>
            <div class="article__wrap-text">
              <p class="article__text-one">65.14 USD</p>
              <p class="article__text-two">55.14 USD</p>
            </div>
          </div>
        </a>
      </li>
    </ul>

    <ul class="markers">
      <li class="markers__item">
        <span class="markers__point markers__point--oval"></span>
      </li>
      <li class="markers__item">
        <span class="markers__point"></span>
      </li>
      <li class="markers__item">
        <span class="markers__point"></span>
      </li>
      <li class="markers__item">
        <span class="markers__point"></span>
      </li>
      <li class="markers__item">
        <span class="markers__point"></span>
      </li>
    </ul>
  </div>
</section>
