<section class="main-section-banners">
  <h2 class="visually-hidden">Everything you want</h2>
  <div class="swiper mySwiper">
    <ul class="swiper-wrapper">
      <li class="swiper-slide section-banners__banner">
        <div class="main-section-banners__img-box">
          <picture>
            <source
              srcset="
                ./images/main/rectangle84-desk-1x.jpg 1x,
                ./images/main/rectangle84-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/main/rectangle84-tab-1x.jpg 1x,
                ./images/main/rectangle84-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/main/rectangle84-mob-1x.jpg 1x,
                ./images/main/rectangle84-mob-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img src="./images/main/rectangle84-desk-1x.jpg" alt="banner" />
          </picture>
          <h3 class="main-section-banners__text section-banners__text-place">
            One place for everything you want
          </h3>
        </div>
      </li>
      <li class="swiper-slide main-section-banners__banner">
        <div class="main-section-banners__img-box">
          <picture>
            <source
              srcset="
                ./images/main/rectangle86-desk-1x.jpg 1x,
                ./images/main/rectangle86-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/main/rectangle86-tab-1x.jpg 1x,
                ./images/main/rectangle86-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/main/rectangle86-mob-1x.jpg 1x,
                ./images/main/rectangle86-mob-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img src="./images/main/rectangle86-desk-1x.jpg" alt="banner" />
          </picture>
          <h3
            class="main-section-banners__text main-section-banners__text-shop text-shop-products"
          >
            Best shop for buying
            <span class="main-section-banners__text-uppercase"
              >gaming products</span
            >
          </h3>
        </div>
      </li>
      <li class="swiper-slide main-section-banners__banner">
        <div class="main-section-banners__img-box">
          <picture>
            <source
              srcset="
                ./images/main/rectangle85-desk-1x.jpg 1x,
                ./images/main/rectangle85-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/main/rectangle85-tab-1x.jpg 1x,
                ./images/main/rectangle85-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/main/rectangle85-mob-1x.jpg 1x,
                ./images/main/rectangle85-mob-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img src="./images/main/rectangle85-desk-1x.jpg" alt="banner" />
          </picture>
          <h3
            class="main-section-banners__text section-banners__text-products text-shop-products"
          >
            High-quality products in lowest price
          </h3>
        </div>
      </li>
    </ul>
    <div class="swiper-pagination"></div>
  </div>
</section>
