<section class="section-banners">
  <div class="section-banners__container">
    <h2 class="visually-hidden">Everything you want</h2>
    <ul class="section-banners__sliders">
      <li class="section-banners__banner">
        <div class="section-banners__img-box">
          <picture>
            <source
              srcset="
                ./images/main/rectangle84-desk-1x.jpg 1x,
                ./images/main/rectangle84-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/main/rectangle84-tab-1x.jpg 1x,
                ./images/main/rectangle84-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/main/rectangle84-mob-1x.jpg 1x,
                ./images/main/rectangle84-mob-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/main/rectangle84-desk-1x.jpg"
              alt="banner"
              class="section-banners__img"
            />
          </picture>
        </div>
        <div class="section-banners__text-box">
          <p class="section-banners__text section-banners__text-place">
            One place for
            everything you want
          </p>
        </div>
      </li>
      <li class="section-banners__banner">
        <div class="section-banners__img-box">
          <picture>
            <source
              srcset="
                ./images/main/rectangle86-desk-1x.jpg 1x,
                ./images/main/rectangle86-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/main/rectangle86-tab-1x.jpg 1x,
                ./images/main/rectangle86-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/main/rectangle86-mob-1x.jpg 1x,
                ./images/main/rectangle86-mob-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/main/rectangle86-desk-1x.jpg"
              alt="banner"
              class="section-banners__img"
            />
          </picture>
        </div>
        <div class="section-banners__text-box">
          <p class="section-banners__text section-banners__text-shop">
                                                          Best shop for buying
            <span class="section-banners__text-uppercase">gaming products</span>
          </p>
        </div>
      </li>
      <li class="section-banners__banner">
        <div class="section-banners__img-box">
          <picture>
            <source
              srcset="
                ./images/main/rectangle85-desk-1x.jpg 1x,
                ./images/main/rectangle85-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/main/rectangle85-tab-1x.jpg 1x,
                ./images/main/rectangle85-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/main/rectangle85-mob-1x.jpg 1x,
                ./images/main/rectangle85-mob-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/main/rectangle85-desk-1x.jpg"
              alt="banner"
              class="section-banners__img"
            />
          </picture>
        </div>
        <div class="section-banners__text-box">
          <p class="section-banners__text section-banners__text-products">
            High-quality
            products
            in lowest price
          </p>
        </div>
      </li>
    </ul>
  </div>
  <!-- <div class="ellipse">
        <div class="ellipse-current"></div>
        <div class="ellipse-next"></div>
        <div class="ellipse-next"></div>
    </div> -->
</section>
