
  <body>
  <section>
    <div class="container">
      <h1 class="hidden-blog">Blog</h1>
    </div>
  </section>
  
  <section class="container">
    
    <div class="blog-section">
    <div class="img-blog">
      <picture>
        <source
        srcset="./images/blog/Rectangle 4279(1).jpg, ./images/blog/Rectangle3(1)2x.jpg"
        media="(min-width:1280px)"
        />
        <source
        srcset="./images/blog/Rectangle 4279 (2.1).jpg, ./images/blog/Rectangle 4279 (2.1x).jpg"
        media="(min-width:768px)"
        />
        <source
        srcset="./images/blog/Rectang  4279 (3.1).jpg, ./images/blog/Rectang 4279 (3.1x).jpg"
        media="(max-width:767px)"
        />
      <img class="img" src="./images/blog/Rectangle 4279(1).jpg" alt="blog" width="387" />
      </picture>
    </div>
    <div class="text-blog">
      <h2 class="text-1">Guide to Picking The Right Gaming Headset</h2>
      <div class="text-2">
      <p class="text-3">By Ray Ian Ampoloquio</p>
      <p class="text-4">Updated on September 21, 2022</p>
      </div>
      <p class="text-5">Learn how to choose an amazing gaming headset with this checklist of just 9 surprisingly simple steps.
          Gaming headsets offer a handy and practical solution to any and all of your gaming audio needs. But, as with any kind of ...</p>
      <p class="text-6">Learn more</p>
    </div>
    </div>
    <div class="blog-section">
      <div class="img-blog">
        <picture>
          <source
          srcset="./images/blog/Rectangle 4279 (1).jpg, ./images/blog/Rectangle(1)2x.jpg"
          media="(min-width:1280px)"
          />
          <source
          srcset="./images/blog/Rectangle 4279 (2.2).jpg, ./images/blog/Rectangle 4279 (2.2x).jpg"
          media="(min-width:768px)"
          />
          <source
          srcset="./images/blog/Rectang  4279 (3.2).jpg, ./images/blog/Rectang 4279 (3.2x).jpg"
          media="(max-width:767px)"
          />
      <img class="img" src="./images/blog/Rectangle 4279 (1).jpg" alt="blog" width="387" />
        </picture>
    </div>
      <div class="text-blog">
      <h2 class="text-1">Mic Monitoring: What Is It and How It Is Relevant to Gaming</h2>
      <div class="text-2">
      <p class="text-3">By Gab L</p>
      <p class="text-4">Updated on September 10, 2022</p>
      </div>
      <p class="text-5">An explanation and exploration of microphone monitoring — its benefits and how you can start using one of the most underrated features today ...</p>
      <p class="text-6">Learn more</p>
      
      </div>
    </div>
      <div class="blog-section">
        <div class="img-blog">
          <picture>
            <source
            srcset="./images/blog/Rectangle 4279 1.jpg, ./images/blog/Rectangle12x.jpg"
            media="(min-width:1280px)"
            />
            <source
            srcset="./images/blog/Rectangle 4279 (2.3).jpg, ./images/blog/Rectangle 4279 (2.3x).jpg"
            media="(min-width:768px)"
            />
            <source
            srcset="./images/blog/Rectang 4279 (3.3).jpg, ./images/blog/Rectang 4279 (3.3x).jpg"
            media="(max-width:767px)"
            />
      <img class="img" src="./images/blog/Rectangle 4279 1.jpg" alt="blog" width="387" />
          </picture>
    </div>
      <div class="text-blog">
      <h2 class="text-1">How to Choose the Right Gaming Mouse</h2>
      <div class="text-2">
      <p class="text-3">By Michael Crider</p>
      <p class="text-4">Updated on September 2, 2022</p>
      </div>
      <p class="text-5">A good mouse can make a big difference when playing your favorite games. Here’s what you need to know about grip styles, types of gaming mice, technical specs, and more, before purchasing a new gaming mouse ...</p>
      <p class="text-6">Learn more</p>
      </div>
      </div>
      
      <div class="dotes">
      <span class="dote1"></span>
      <span class="dote"></span>
      <span class="dote"></span>
      </div>
  </section>
  </body>