<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="./contacts.css" /> -->
  </head>
  <body>
    <section>
      <h1>Contacts</h1>
      <picture>
        <!-- <source
          srcset="
            ./contacts-desktop.jpg           1x,
            ./images/contacts-desktop_2x.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="./contacts-tab.jpg 1x, ./contacts-tab_2x.jpg 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./contacts-mob.jpg 1x, ./contacts-mob_2x.jpg 2x"
          media="(max-width: 767px)"
        />
        <img
          src="./contacts-desktop.jpg"
          alt="Геймерські ґаджети"
          width="450"
        /> -->
      </picture>
      <p class="contacts-text">
        In case of queries about order handling and/or delay, drop us an email
        at
        <a class="link" href="mailto:info@shopforgamers.com"
          >info@shopforgamers.com
        </a>
      </p>
      <ul>
        <li>
          <h3>Email</h3>
          <a class="link" href="mailto:sfg.info@gmail.com"
            >sfg.info@gmail.com</a
          >
        </li>
        <li>
          <h3>Phone number</h3>
          <a class="link" href="tel:+380936432288">+38 (093) 643 22 88</a>
          <a class="link" href="tel:+380503454423">+38 (050) 345 44 23</a>
        </li>
      </ul>

      <h2>Contact us</h2>
      <form action="">
        <label for="user-name" class="">Name</label>
        <input type="text" name="" class="" id="user-name" />

        <label for="user-mail" class="">Email</label>
        <input type="text" name="" class="" id="user-mail" />

        <label for="user-text" class="">Leave your message</label>
        <textarea name="user-text" id="user-text" class=""></textarea>

        <button type="submit" class="">Send</button>
      </form>
    </section>
  </body>
</html>
