<footer class="footer">
      <div class="container footer-box">
        <a class="link logo logo-footer" href="./index.html">shop for gamers</a>

        <div class="footer-wrap">
          <ul class="list footer-nav">
            <li class="nav-item">
              <a class="link nav-link" href="./accessories.html">Accessories</a>
            </li>
            <li class="nav-item">
              <a class="link nav-link" href="./order.html">Take order</a>
            </li>
            <li class="nav-item">
              <a class="link nav-link" href="./contact.html">Contact</a>
            </li>
            <li class="nav-item">
              <a class="link nav-link" href="./blog.html">Blog</a>
            </li>
          </ul>

          <ul class="list footer-soc">
            <li>
              <a class="soc-icon" href="">
                <div class="soc-container">
                  <svg width="12" height="12">
                    <use href="./icons/sprite.svg#icon-instagram"></use>
                  </svg>
                </div>
              </a>
            </li>
            <li>
              <a class="soc-icon" href="">
                <div class="soc-container">
                  <svg width="12" height="12">
                    <use href="./icons/sprite.svg#icon-youtube"></use>
                  </svg>
                </div>
              </a>
            </li>
            <li>
              <a class="soc-icon" href="">
                <div class="soc-container">
                  <svg width="12" height="12">
                    <use href="./icons/sprite.svg#icon-facebook"></use>
                  </svg>
                </div>
              </a>
            </li>
          </ul>
        </div>

        <ul class="list footercontacts">
          <li class="footercontacts-item">
            <h2 class="footercontacts-title">Email</h2>
            <a class="link footercontacts-mail" href="mailto:sfg.info@gmail.com"
              >Sfg.info@gmail.com</a
            >
          </li>
          <li class="footercontacts-item">
            <h2 class="footercontacts-title">Phone number</h2>
            <ul class="list">
              <li class="footercontacts-phone">
                <a class="link footercontacts-tel" href="tel:+380936432288"
                  >+38 (093) 643 22 88</a
                >
              </li>
              <li>
                <a class="link footercontacts-tel" href="tel:+380503454423"
                  >+38 (050) 345 44 23</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </footer>