<header>
  <div class="header-wrap">
    <div class="container pageheader">
      <a class="link logo" href="./index.html">shop for gamers</a>

      <div class="menu-btn">
        <!--Mobile menu open button-->
        <button
          class="menu-open js-open-menu"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <svg width="54" height="36">
            <use href="./icons/sprite.svg#burger-icon"></use>
          </svg>
        </button>

        <!--Mobile menu close button-->
        <div class="menu-close js-close-menu">
          <svg width="36" height="36">
            <use href="./icons/sprite.svg#cross-icon"></use>
          </svg>
        </div>
      </div>

      <ul class="list header-nav">
        <li class="nav-item">
          <a class="link nav-link" href="./accessories.html">Accessories</a>
        </li>
        <li class="nav-item">
          <a class="link nav-link" href="./contact.html">Contact</a>
        </li>
        <li class="nav-item">
          <a class="link nav-link" href="./blog.html">Blog</a>
        </li>
      </ul>

      <a class="link header-btn" href="./accessories.html">Shop now</a>
    </div>
  </div>

  <!--Mobile Menu-->
  <div class="mobilemenu js-menu-container" id="mobile-menu">
    <div class="mobilemenu-container">
      <nav class="mobilemenu-navigation">
        <ul class="list navigation">
          <li class="navigation-item">
            <a class="link navigation-link" href="./accessories.html"
              >accessories</a
            >
          </li>
          <li class="navigation-item">
            <a class="link navigation-link" href="./contact.html">contact</a>
          </li>
          <li class="navigation-item">
            <a class="link navigation-link" href="./blog.html">blog</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
