<section class="hero">
  <div class="hero__container container">
    <div class="hero__icons icons-1"></div>
    <div class="hero__icons icons-2"></div>
    <div class="hero__icons icons-3"></div>
    <div class="hero__icons icons-4"></div>
    <div class="hero__icons icons-5"></div>
    <div class="hero__icons icons-6"></div>
    <div class="hero__icons icons-7"></div>
    <div class="hero__icons icons-8"></div>
    <div class="hero__icons icons-9"></div>
    <div class="hero__icons icons-10"></div>
    <div class="hero__icons icons-11"></div>
    <div class="hero__icons icons-12"></div>
    <div class="hero__icons icons-13"></div>
    <div class="hero__icons icons-14"></div>
    <div class="hero__icons icons-15"></div>
    <div class="hero__mouseBg-container"></div>
    <div class="hero__keyboardBg-container"></div>
    <div class="hero__headphonesBg-container"></div>
    <div class="hero__content-container">
      <h1 class="hero__title">
        Best shop <span>for buying</span> <span>gaming products</span>
      </h1>
      <a href="./accessories.html" class="hero__link">Start shopping</a>
    </div>
  </div>
</section>
