<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="contacts">
      <div class="container">
        <h1 class="contacts__title">Contacts</h1>

        <div class="atop-line-container">
          <div class="atop-line atop-left-part"></div>
          <div class="atop-line atop-right-part"></div>
        </div>
        <div class="abottom-line-container">
          <div class="abottom-line abottom-left-part"></div>
          <div class="abottom-line abottom-right-part"></div>
        </div>
      </div>

      <!-- PICTURE -->

      <div class="img-wrap">
        <!-- <picture class="contacts__img">
      <source
        srcset="
          ./images/contact/contact-desktop.png    1x,
          ./images/contact/contact-desktop_2x.png 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/contact/contact-tab.png    1x,
          ./images/contact/contact-tab_2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/contact/contact-mob.jpg    1x,
          ./images/contact/contact-mob_2x.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <img
        src="./images/contact/contact-desktop.png"
        alt="Геймерські ґаджети"
        width="1200"
      />
    </picture> -->
      </div>

      <!-- MAIN TEXT -->

      <div class="container content-wrap">
        <div class="contacts-wrap">
          <p class="contacts__text">
            In case of queries about order handling and/or delay, drop us an
            email at
            <br /><br />
            <a class="mail-link" href="mailto:info@shopforgamers.com"
              >info@shopforgamers.com
            </a>
          </p>
          <ul class="contacts-list">
            <li class="contacts-list__item">
              <p class="contacts-list__title">Email</p>
              <a class="contacts__link link" href="mailto:sfg.info@gmail.com"
                >sfg.info@gmail.com</a
              >
            </li>
            <li class="contacts-list__item">
              <p>class="contacts-list__title">Phone number</p>
              <a class="contacts__link link tel" href="tel:+380936432288"
                >+38 (093) 643 22 88</a
              >
              <a class="contacts__link link tel" href="tel:+380503454423"
                >+38 (050) 345 44 23</a
              >
            </li>
          </ul>
        </div>

        <!-- FORM -->

        <div class="form-wrap">
          <h2 class="form-title">Contact us</h2>
          <form class="form">
            <div class="input-wrap">
              <input
                type="text"
                name="name"
                class="form__input"
                id="user-name"
                placeholder=" "
                pattern="[A-Za-z]{3,}"
                title="The login can not be less than 3 characters and can include only Latin letters"
                required
              />
              <label for="user-name" class="form__label">Name</label>
            </div>

            <div class="input-wrap">
              <input
                type="email"
                name="email"
                class="form__input"
                id="user-mail"
                placeholder=" "
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                required
              />
              <label for="user-mail" class="form__label">Email</label>
            </div>

            <label for="user-text" class="form__comments-label"
              >Leave your message</label
            >
            <textarea
              name="user-text"
              id="user-text"
              class="form__comments"
            ></textarea>

            <button type="submit" class="form__btn" data-modal-open>
              Send
            </button>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
