
<div class="container">
    <div class="title-wrap">
    <h2 class="order-form-title">CONTACT US</h2>
    </div>
    <form class="order-form">
        <div class="order-form__wrap">
        <input class="order-form__input" type="text" name="username" placeholder="Name" minlength="3" maxlength="25" required>

        <input class="order-form__input" type="email" name="email" placeholder="Email" required>

        <div class="select-wrap">
            <label class="order-form__label" for="color">Color Option</label>
                <select class="select" name="color" id="color" minlength="3" required>
                    <option></option>
                    <option class="select__opition" value="orange">K9D Black Orange</option>
                    <option class="select__opition" value="gray">K9D Silver Gray</option>
                    <option class="select__opition" value="blue">K9U White Blue</option>
                </select>
                <div class="arrow border-bottom"></div>
        </div>

        <div class="select-wrap">
            <label class="order-form__label" for="quantity">Quantity</label>
                <select class="select" name="quantity" id="quantity" minlength="1" required>
                    <option></option>
                    <option class="select__opition" value="1">1</option>
                    <option class="select__opition" value="2">2</option>
                    <option class="select__opition" value="3">3</option>
                </select>
                <div class="arrow border-bottom"></div>
        </div>

        <div class="select-wrap">
            <label class="order-form__label" for="payment">Payment</label>
                <select class="select" name="payment" id="payment" minlength="4" required>
                    <option></option>
                    <option class="select__opition" value="Privat">Privat24</option>
                    <option class="select__opition" value="PayPal">PayPal</option>
                    <option class="select__opition" value="Visa">Visa</option>
                    <option class="select__opition" value="LiqPay">LiqPay</option>
                </select>
                <div class="arrow border-bottom"></div>
        </div>
        </div>

        <div class="form-area">
            <label class="form-area__label" for="">Leave your message</label>
            <textarea class="form-area__textarea" name="feedback" ></textarea>
        </div>

        <div class="button-wrap">
            <button class="button-buy" type="submit">BUY IT NOW</button>
            <button class="button-add" type="submit">ADD TO CART</button>
        </div>
    </form>
</div>