<section class="take-order part">
  <div class="container take-order__container">
    <h1 class="take-order__title">Take order</h1>

    <div class="top-line-container">
      <div class="top-line top-left-part"></div>
      <div class="top-line top-right-part"></div>
    </div>
    <div class="bottom-line-container">
      <div class="bottom-line bottom-left-part"></div>
      <div class="bottom-line bottom-right-part"></div>
    </div>

    <div class="mobile-tablet">
      <h2 class="mobile-tablet__subtitle subhead">Xiberia K9 PRO PC Headset</h2>

      <div class="mobile-tablet__products">
        <a class="" href="">
          <picture>
            <source
              srcset="
                ./images/order/order-img1-1x-desktop.jpg 1x,
                ./images/order/order-img1-2x-desktop.jpg 2x
              "
              media="(min-width: 1280px)"
            />

            <source
              srcset="
                ./images/order/order-img1-1x-tablet.jpg 1x,
                ./images/order/order-img1-2x-tablet.jpg 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/order/order-img1-1x-mobile.jpg 1x,
                ./images/order/order-img1-2x-mobile.jpg 2x
              "
            />

            <img
              class="sales__photo"
              src="./images/order/order-img1-1x-desktop.jpg"
              alt="Headphone imagine"
              width="387"
            />
          </picture>
        </a>

        <div class="price">
          <p class="price__before">65.14 USD</p>
          <p class="price__now">55.14 USD</p>
        </div>
      </div>
    </div>

    <div class="order-headphones">
      <ul class="sales">
        <li class="sales__item">
          <a href="">
            <picture>
              <source
                srcset="
                  ./images/order/order-img2-1x-desktop.jpg 1x,
                  ./images/order/order-img2-2x-desktop.jpg 2x
                "
                media="(min-width: 1280px)"
              />

              <source
                srcset="
                  ./images/order/order-img2-1x-tablet.jpg 1x,
                  ./images/order/order-img2-2x-tablet.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <source
                srcset="
                  ./images/order/order-img2-1x-mobile.jpg 1x,
                  ./images/order/order-img2-2x-mobile.jpg 2x
                "
              />

              <img
                class="sales__image"
                src="./images/order/order-img2-1x-desktop.jpg"
                alt="Headphone imagine"
                width="155"
              />
            </picture>
          </a>
        </li>

        <li class="sales__item">
          <a href="">
            <picture>
              <source
                srcset="
                  ./images/order/order-img3-1x-desktop.jpg 1x,
                  ./images/order/order-img3-2x-desktop.jpg 2x
                "
                media="(min-width: 1280px)"
              />

              <source
                srcset="
                  ./images/order/order-img3-1x-tablet.jpg 1x,
                  ./images/order/order-img3-2x-tablet.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <source
                srcset="
                  ./images/order/order-img3-1x-mobile.jpg 1x,
                  ./images/order/order-img3-2x-mobile.jpg 2x
                "
              />

              <img
                class="sales__image"
                src="./images/order/order-img3-1x-desktop.jpg"
                alt="Headphone imagine"
                width="155"
              />
            </picture>
          </a>
        </li>
        <li class="sales__item">
          <a href="">
            <picture>
              <source
                srcset="
                  ./images/order/order-img4-1x-desktop.jpg 1x,
                  ./images/order/order-img4-2x-desktop.jpg 2x
                "
                media="(min-width: 1280px)"
              />

              <source
                srcset="
                  ./images/order/order-img4-1x-tablet.jpg 1x,
                  ./images/order/order-img4-2x-tablet.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <source
                srcset="
                  ./images/order/order-img4-1x-mobile.jpg 1x,
                  ./images/order/order-img4-2x-mobile.jpg 2x
                "
              />

              <img
                class="sales__image"
                src="./images/order/order-img4-1x-desktop.jpg"
                alt="Headphone's parts"
                width="155"
              />
            </picture>
          </a>
        </li>
        <li class="sales__item">
          <a href="">
            <picture>
              <source
                srcset="
                  ./images/order/order-img5-1x-desktop.jpg 1x,
                  ./images/order/order-img5-2x-desktop.jpg 2x
                "
                media="(min-width: 1280px)"
              />

              <source
                srcset="
                  ./images/order/order-img5-1x-tablet.jpg 1x,
                  ./images/order/order-img5-2x-tablet.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <source
                srcset="
                  ./images/order/order-img5-1x-mobile.jpg 1x,
                  ./images/order/order-img5-2x-mobile.jpg 2x
                "
              />

              <img
                class="sales__image"
                src="./images/order/order-img5-1x-desktop.jpg"
                alt="Headphone-img"
                width="155"
              />
            </picture>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="for-desktop container">
    <h1 class="take-order__title">Take order</h1>
    <div class="top-line-container">
      <div class="top-line top-left-part"></div>
      <div class="top-line top-right-part"></div>
    </div>
    <div class="bottom-line-container">
      <div class="bottom-line bottom-left-part"></div>
      <div class="bottom-line bottom-right-part"></div>
    </div>

    <div class="for-desktop-part">
      <a class="" href="">
        <picture>
          <source
            srcset="
              ./images/order/order-img1-1x-desktop.jpg 1x,
              ./images/order/order-img1-2x-desktop.jpg 2x
            "
            media="(min-width: 1280px)"
          />

          <source
            srcset="
              ./images/order/order-img1-1x-tablet.jpg 1x,
              ./images/order/order-img1-2x-tablet.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/order/order-img1-1x-mobile.jpg 1x,
              ./images/order/order-img1-2x-mobile.jpg 2x
            "
          />

          <img
            class="sales__photo"
            src="./images/order/order-img1-1x-desktop.jpg"
            alt="Headphone imagine"
            width="387"
          />
        </picture>
      </a>
      <div class="desktop-right">
        <h2 class="desktop__subtitle subhead">Xiberia K9 PRO PC Headset</h2>
        <div class="price">
          <p class="price__before">65.14 USD</p>
          <p class="price__now">55.14 USD</p>
        </div>
        <div class="order-headphones">
          <ul class="sales">
            <li class="sales__item">
              <a href="">
                <picture>
                  <source
                    srcset="
                      ./images/order/order-img2-1x-desktop.jpg 1x,
                      ./images/order/order-img2-2x-desktop.jpg 2x
                    "
                    media="(min-width: 1280px)"
                  />

                  <source
                    srcset="
                      ./images/order/order-img2-1x-tablet.jpg 1x,
                      ./images/order/order-img2-2x-tablet.jpg 2x
                    "
                    media="(min-width: 768px)"
                  />

                  <source
                    srcset="
                      ./images/order/order-img2-1x-mobile.jpg 1x,
                      ./images/order/order-img2-2x-mobile.jpg 2x
                    "
                  />

                  <img
                    class="sales__image"
                    src="./images/order/order-img2-1x-desktop.jpg"
                    alt="Headphone imagine"
                    width="155"
                  />
                </picture>
              </a>
            </li>

            <li class="sales__item">
              <a href="">
                <picture>
                  <source
                    srcset="
                      ./images/order/order-img3-1x-desktop.jpg 1x,
                      ./images/order/order-img3-2x-desktop.jpg 2x
                    "
                    media="(min-width: 1280px)"
                  />

                  <source
                    srcset="
                      ./images/order/order-img3-1x-tablet.jpg 1x,
                      ./images/order/order-img3-2x-tablet.jpg 2x
                    "
                    media="(min-width: 768px)"
                  />

                  <source
                    srcset="
                      ./images/order/order-img3-1x-mobile.jpg 1x,
                      ./images/order/order-img3-2x-mobile.jpg 2x
                    "
                  />

                  <img
                    class="sales__image"
                    src="./images/order/order-img3-1x-desktop.jpg"
                    alt="Headphone imagine"
                    width="155"
                  />
                </picture>
              </a>
            </li>
            <li class="sales__item">
              <a href="">
                <picture>
                  <source
                    srcset="
                      ./images/order/order-img4-1x-desktop.jpg 1x,
                      ./images/order/order-img4-2x-desktop.jpg 2x
                    "
                    media="(min-width: 1280px)"
                  />

                  <source
                    srcset="
                      ./images/order/order-img4-1x-tablet.jpg 1x,
                      ./images/order/order-img4-2x-tablet.jpg 2x
                    "
                    media="(min-width: 768px)"
                  />

                  <source
                    srcset="
                      ./images/order/order-img4-1x-mobile.jpg 1x,
                      ./images/order/order-img4-2x-mobile.jpg 2x
                    "
                  />

                  <img
                    class="sales__image"
                    src="./images/order/order-img4-1x-desktop.jpg"
                    alt="Headphone's parts"
                    width="155"
                  />
                </picture>
              </a>
            </li>
            <li class="sales__item">
              <a href="">
                <picture>
                  <source
                    srcset="
                      ./images/order/order-img5-1x-desktop.jpg 1x,
                      ./images/order/order-img5-2x-desktop.jpg 2x
                    "
                    media="(min-width: 1280px)"
                  />

                  <source
                    srcset="
                      ./images/order/order-img5-1x-tablet.jpg 1x,
                      ./images/order/order-img5-2x-tablet.jpg 2x
                    "
                    media="(min-width: 768px)"
                  />

                  <source
                    srcset="
                      ./images/order/order-img5-1x-mobile.jpg 1x,
                      ./images/order/order-img5-2x-mobile.jpg 2x
                    "
                  />

                  <img
                    class="sales__image"
                    src="./images/order/order-img5-1x-desktop.jpg"
                    alt="Headphone-img"
                    width="155"
                  />
                </picture>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
