<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="modal__btn" data-modal-close>
      <svg width="40" height="40">
        <use href="./icons/sprite.svg#cross-icon"></use>
      </svg>
    </button>
    <div class="choice">
      <p class="choice__header">
        Excellent choice! Let's move on to the checkout!
      </p>
      <button class="choice__btn" type="submit">
        <a class="choice__link" href="./index.html">Let's go!</a>
      </button>
    </div>
  </div>
</div>
