<div class="backdrop-order is-hidden" data-order>
  <div class="modal-order">
    <button type="button" class="modal-order__btn" data-order-close>
      <svg width="40" height="40">
        <use href="./icons/sprite.svg#cross-icon"></use>
      </svg>
    </button>
    <div class="choice-order">
      <p class="choice-order__header">
        Thank you for your order! We will contact you soon!
      </p>
      <button class="choice-order__btn" type="submit">
        <a href="./accessories.html">KEEP SHOPPING</a>
      </button>
    </div>
  </div>
</div>
