.blog {
  padding-top: 40px;
  padding-bottom: 40px;
  @include contentMedia($tablet) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.blog__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;

  margin-bottom: 4px;

  @include contentMedia($tablet) {
    font-size: 56px;
    padding-left: 99px;
    margin-bottom: 11px;
  }

  @include contentMedia($desktop) {
    padding-left: 142px;
    margin-bottom: 8px;
  }
}

.blog__list {
  margin-bottom: 48px;

  @include contentMedia($tablet) {
    margin-bottom: 35px;
  }

  @include contentMedia($desktop) {
    margin-bottom: 48px;
  }
}

.blog__item {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
  @include contentMedia($tablet) {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
  @include contentMedia($desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.blog__item-wrap {
  @include contentMedia($desktop) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-right: 40px;
  }
}

.blog__item-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;

  margin-bottom: 16px;
  @include contentMedia($tablet) {
    font-size: 56px;
    line-height: 1;
  }

  @include contentMedia($desktop) {
    margin-bottom: 52px;
  }
}

.blog__article-wrap {
  display: block;
  @include mwContentMedia($tablet) {
    // min-height: 473px;
    margin-top: auto;
  }

  @include contentMedia($tablet) {
    display: flex;
    align-items: flex-end;
  }
}

.blog__img-wrap {
  @include mwContentMedia($tablet) {
    margin-left: -15px;
    margin-right: -15px;

    margin-bottom: 8px;
  }
}

.blog__image {
  @include contentMedia($tablet) {
    border-radius: 12px;
  }
}

.blog__img {
  // width: 480px;
  width: 100vw;
  margin-bottom: 8px;
  margin: 0 auto;

  //  @include contentMedia($tablet) {
  //  max-width: 387px;
  // }

  @include contentMedia($desktop) {
    display: none;
  }
}

.blog__img--desk {
  display: none;
  @include contentMedia($desktop) {
    display: block;
    min-height: 364px;
    min-width: 387px;
    margin-right: 121px;
    padding-left: 40px;
  }
}

.blog__text-wrap {
  @include contentMedia($tablet) {
    margin-left: 40px;
  }

  @include contentMedia($desktop) {
    display: flex;
    margin-left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
  }
}

.blog__author {
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: #ffffff;
  margin-bottom: 8px;

  @include contentMedia($tablet) {
    font-size: 24px;
    margin-bottom: 32px;
  }
}

.blog__date {
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: #8d9289;
  margin-bottom: 16px;

  @include contentMedia($tablet) {
    font-size: 24px;
  }
}

.blog__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 8px;
  // width: 288px;

  @include contentMedia($tablet) {
    font-size: 24px;
    line-height: 1.17;
    display: block;
  }

  @include contentMedia($desktop) {
    display: flex;
  }
}

.blog__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  text-decoration: none;

  color: #86e543;
  display: flex;
  justify-content: flex-end;

  @include contentMedia($tablet) {
    font-size: 24px;
  }
}

.blog__loader {
  position: relative;
  width: 100px;
  height: 16px;
  margin: 0 auto;
}

.dot {
  width: 16px;
  height: 16px;
  border-radius: 30px;
  background: $main-font-color;
  position: absolute;
  animation-duration: 2.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.dot1 {
  width: 40px;
  height: 16px;
  border-radius: 30px;
}

.dot2 {
  width: 16px;
  height: 16px;
  opacity: 1;
  border-radius: 50%;
}

.dot3 {
  left: 1.5em;
}

@keyframes slide {
  to {
    transform: translateX(50px);
  }
}

.dot1 {
  animation-name: reveal;
}

.dot2,
.dot3 {
  animation-name: slide;
}
