.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  .hidden-blog {
    width: 114px;
    height: 66px;
    font-style: semibold;
    font-size: 56px;
    line-height: 100%;
    
    color: #ffff;
    margin-left: 142px;
    margin-bottom: 75px;
    margin-top: 256px;
  }
  .blog-section {
    display: inline-block;
    margin-bottom: 40px;
  }
  .img-blog {
  float:left;
  margin-right: 121px;
  margin-left: 40px;
  }
  .text-1 {
    font-size: 56px;
    line-height: 56px;
    margin-bottom: 52px;
    margin-bottom: 24px;
    
       
  }
  .text-2 {
    display: inline-block;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
  }
  .text-3 {
    float: left;
    
    height: 24px;
    font-size: 24px;
    fill: #ffff;
  }
  .text-4 {
    float:right;
    text-align: right;
    color: #8D9289;
    font-size: 24px;
  }
  .text-5 {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: normal;
  }
  .text-6 {
    text-align: right;
    font-size: 24px;
    color: #86E543;
  }
  .dote1 {
    height: 16px;
    width: 40px;
    background-color: #ffff;
    border-radius: 30px;
    display: inline-block;
  }
  .dote {
    height: 16px;
    width: 16px;
    background-color: #ffff;
    border-radius: 50%;
    display: inline-block;
  }
  .dotes {
    width: 100px;
    height: 16px;
    margin: 0 auto;
    position: relative;
    margin-top: 48px;
    margin-bottom: 120px;
  }
  .img {
    border-radius: 12px;
  }
  .sale {
    position: relative;
  }
  
  .top-line-container {
    position: absolute;
    top: 30px;
    display: flex;
    @media screen and (min-width: 768px) {
      top: 58px;
    }
  }
  .top-line {
    height: 8px;
    margin-top: 200px;
  }
  .top-left-part {
    width: 50vw;
    @media screen and (min-width: 1280px) {
      width: 30vw;
    }
    border-bottom: 1px solid #7be34a;
    border-right: 0.5px solid #7be34a;
  }
  .top-right-part {
    width: 100vw;
    border-top: 1px solid #7be34a;
    border-left: 0.5px solid #7be34a;
  }
  
  .bottom-line-container {
    position: absolute;
    top: 36px;
    display: flex;
    @media screen and (min-width: 768px) {
      top: 64px;
    }
  }
  .bottom-line {
    height: 8px;
    margin-top: 200px;
  }
  .bottom-left-part {
    width: 51vw;
    @media screen and (min-width: 768px) {
      width: 51.2vw;
    }
    @media screen and (min-width: 1280px) {
      width: 30.6vw;
    }
    border-bottom: 1px solid #28780d;
    border-right: 0.5px solid #28780d;
  }
  
  .bottom-right-part {
    width: 100vw;
    border-top: 1px solid #28780d;
    border-left: 0.5px solid #28780d;
  }