.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #001414;
}

.footer-box {
  @media screen and (max-width: 767px) {
    padding-top: 25px;
    padding-bottom: 24px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.logo-footer {
  margin-bottom: 25px;

  @media screen and (min-width: 768px) {
    margin-right: 61px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 155px;
  }
}

.footer-wrap {
  display: flex;
  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }

  @media screen and (min-width: 768px) {
    gap: 89px;
    margin-right: 73px;
  }

  @media screen and (min-width: 1280px) {
    gap: 217px;
    margin-right: 281px;
  }
}

.footer-soc {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    gap: 32px;
    margin-right: 16px;
  }

  @media screen and (min-width: 768px) {
    gap: 16px;
  }

  @media screen and (min-width: 1280px) {
    flex-direction: column;
  }
}

.soc-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: $main-font-color;

  @include animation(background-color);

  &:hover,
  &:focus {
    background-color: #86e543;
  }

  svg {
    fill: #001414;
  }
}

.contacts {
  text-align: left;
}

.contacts-item {
  &:first-child {
    margin-bottom: 16px;
  }
}

.contacts-mail,
.contacts-tel {
  color: #8d9289;
}

.contacts-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;

  color: $main-font-color;

  margin-top: 0;
  margin-bottom: 8px;
}

.contacts-phone {
  &:first-child {
    margin-bottom: 8px;
  }
}
