.hero {
  padding-top: 104px;

  background-image: url(../images/main/heroBg@1x.jpg);
  @include heroRetina(heroBg, jpg);
  background-size: cover;
  background-position: right -140px top 0;
  background-repeat: no-repeat;
  @include contentMedia($tablet) {
    padding-top: 136px;

    background-size: 150%;
    background-position: left 55% top 70px;
  }
}

.hero__container {
  position: relative;
  @include mwContentMedia(480px) {
    width: 320px;
  }
  padding-top: 180px;
  padding-bottom: 127px;
  @include contentMedia($tablet) {
    padding-top: 154px;
    padding-bottom: 208px;
  }
  overflow: hidden;
}

.hero__mouse-container {
  width: 60px;
  height: 99px;
  position: absolute;
  transform: rotate(-29deg);
  left: 32px;
  top: 65px;
  background-image: url(../images/main/mouseBg@1x.png);
  @include heroRetina(mouseBg, png);
  background-size: 100%;
  background-repeat: no-repeat;
  mix-blend-mode: luminosity;
}

.hero__headphones-container {
  width: 150px;
  height: 186px;
  position: absolute;
  transform: rotate(28deg);
  right: -10px;
  top: -25px;
  background-image: url(../images/main/headphonesBg@1x.png);
  @include heroRetina(headphonesBg, png);
  background-size: 100%;
  background-repeat: no-repeat;
  mix-blend-mode: luminosity;
}

.hero__keyboard-container {
  width: 88px;
  height: 42px;
  position: absolute;
  transform: rotate(24deg);
  right: 74px;
  bottom: 40px;
  background-image: url(../images/main/keyboardBg@1x.png);
  @include heroRetina(keyboardBg, png);
  background-size: 100%;
  background-repeat: no-repeat;
  mix-blend-mode: luminosity;
}

.hero__title {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 32px;
  line-height: calc(38 / 32);
  text-align: center;

  @include mwContentMedia($tablet) {
    & > span {
      display: block;
    }
  }

  @include contentMedia($tablet) {
    margin-bottom: 94px;
    max-width: 388px;
    font-size: 56px;
    line-height: calc(66 / 56);
    text-align: left;
  }
}

.hero__link {
  width: 173px;
  height: 51px;
  @extend %centred;
  @extend %flex-centred;
  font-weight: 700;
  line-height: calc(19 / 16);
  border-radius: 16px;
  text-transform: uppercase;
  background-color: #86e543;
  color: $main-bg-color;
  @include contentMedia($tablet) {
    margin: 0;
    width: 306px;
    height: 70px;

    font-size: 32px;
    line-height: calc(38 / 32);
  }
}
