.hero__background {
    width: 320px;
    height: 601px;
    padding-top: 284px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image:
        url('../images/main/hero-mob-1x.png');

    @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image:
            url('../images/main/hero-mob-2x.png');
    }

    @media screen and (min-width: 768px) {
        width: 768px;
        height: 860px;
        padding-top: 290px;
        background-size: cover;
        background-position: center;
        background-image:
            url('../images/main/hero-tab-1x.png');

        @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image:
                url('../images/main/hero-tab-2x.png');
        }
    }

    @media screen and (min-width: 1280px) {
        width: 1280px;
        height: 860px;
        padding-top: 316px;
        background-size: cover;
        background-position: center;
        background-image:
            url('../images/main/hero-vector-desk1-1x.png'),
            url('../images/main/hero-bg-desk1-1x.png');

        @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image:
                url('../images/main/hero-vector-desk2-2x.png'),
                url('../images/main/hero-bg-desk2-2x.png');
        }
    }
}

.title-hero {
    @include font (600, 32px, 38px);
    color: $main-font-color;
    margin-bottom: 25px;

    @media screen and (min-width: 768px) {
        @include font (600, 56px, 60px);
        margin-bottom: 94px;
    }

    @media screen and (min-width: 1280px) {

        @include font (600, 64px, 75px);
        margin-left: 102px;
        margin-bottom: 40px;
    }
}

.title-hero__one {
    display: inline;
    text-align: center;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.title-hero__two {
    display: none;

    @media screen and (min-width: 768px) {
        display: inline;
    }
}

.link-hero {
    display: block;

    @media screen and (max-width: 767px) {
        margin-left: auto;
        margin-right: auto;
    }

    width: 173px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    background-color: $main-btn-color;
    padding: 16px 20px;
    
    @include font (700, 16px, 19px);
    text-transform: uppercase;
    color: $btn-text-color;
    text-align: center;

    @media screen and (min-width: 768px) {
        @include font (700, 32px, 38px);
        width: 306px;
    }

    @media screen and (min-width: 1280px) {
        @include font (700, 32px, 38px);
        margin-left: 102px;
    }
}