.take-order{
  
    background-image: url(../images/take-order-dropdown/Take-order-mobile-bg-1.jpg);
    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx){
    background-image: url(../images/take-order-dropdown/Take-order-mobile-bg-2.jpg);
  }
   
background-repeat: no-repeat;

@media screen and (min-width: 767px){
    background-image: url(../images/take-order-dropdown/Take-order-tablet-bg-1.jpg);}
    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx){
    background-image: url(../images/take-order-dropdown/Take-order-tablet-bg-2.jpg);
  }

@media screen and (min-width: 1280px){
    background-image: url(../images/take-order-dropdown/Take-order-desktop-bg-1.jpg);
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx){
    background-image: url(../images/take-order-dropdown/Take-order-desktop-bg-2.jpg);
  }
}

.take-order__container{
    @media screen and (min-width: 1280px){
      position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
    }
    
    }  


.take-order__title{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    color: FFFFFF;
    @media screen and (min-width: 767px){
        font-size: 56px;
        line-height: 1.18;
        margin-left: 59px;
        
    }   
    @media screen and (min-width: 1280px) {
      margin-left: 121px;
    }
}
.subhead{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 32px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: FFFFFF;
    @media screen and (min-width: 767px){
        font-size: 56px;
        line-height: 1.18;
        white-space: nowrap;
        letter-spacing: 0em;       
}
}

.sales__photo{
    border-radius: 12px;
    width: 100%;
    @media screen and (min-width: 767px){
        max-width: 387px;}
        }

.desktop__products{
    margin-top: 16px;
    align-items: center;
    @media screen and (min-width: 767px){
    display: flex;
    flex-wrap: wrap;
    align-items: initial;
    
}
@media screen and (min-width: 1280px){
    flex-wrap: nowrap;   
}
}

.price{
    display: flex;
    justify-content: space-between;
    @media screen and (min-width: 767px){
        display: block;
        margin-left: 40px;}
        @media screen and (min-width: 1280px){
            margin-left: 0px;
            display: flex;
            align-items: center;
            justify-content: unset;    
        }
        }

        

.price__before{
    margin-top: 16px;
    text-decoration: line-through;
    font-family: 'Roboto';
    font-style: 500;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: #8D9289;
    @media screen and (min-width: 767px){
        margin-top: 93px;
        font-size: 24px;
    }
    @media screen and (min-width: 1280px){
        margin-top: 32px;
        margin-right: 70px;
    }
    
}

.price__now{
    margin-top: 24px;
    
    font-family: 'Roboto';
    font-style: 500;
    font-size: 32px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: #86E543; 
    @media screen and (min-width: 767px){
        margin-top: 56px;
        font-size: 48px;
    }
    @media screen and (min-width: 1280px){
        margin-top: 32px;
        
    }}

.sales{
    display: flex;
    align-items: center;
    margin-top: 16px;
    @media screen and (min-width: 767px){
        margin-top: 24px;
        @media screen and (min-width: 1280px){
            margin-top: 40px;
        }
    }   
}

.sales__item:not(:last-child){
    margin-right: 16px;
    @media screen and (min-width: 767px){
        margin-right: 24px;
    }
}

  .sales__image{
  
    border-radius: 4px;
    @media screen and (min-width: 1280px){
        border-radius: 6px;  
    }
 }

.for-desktop{
    @media screen and (max-width: 1280px){
      position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
    }
    
    } 


.desktop-right{
    margin-left: auto;
    
}
.for-desktop-part{
    display: flex;
    align-items: flex-end;
    
}

.line {
  display: flex;
  width: 100%;
  
  &:last-child {
      margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) {
      &:last-child {
          margin-bottom: 40px;
      }
  }

  @media screen and (min-width: 1280px) {
      &:last-child {
          margin-bottom: 48px;
      }
  }

}

.line__super-line1 {
  width: 250px;
  height: 8px;
  border: 1px solid #7BE34A;
  box-shadow: 0px 4px 25px rgba(123, 227, 74, 0.25);
  border-left: transparent;
  border-top: transparent;
  margin-left: -15px;
  @media screen and (min-width: 768px) {
    width: 840px;
}
  @media screen and (min-width: 1280px) {
      width: 600px;
  }
}

.line__super-line2 {

  width: 100%;
  height: 1px;
  border: 1px solid #7BE34A;
  border-left: transparent;
  border-top: transparent;
  margin-bottom: 3px;
  box-shadow: 0px 4px 25px rgba(123, 227, 74, 0.25);
  margin-right: -15px;
}

.line__super-line3 {
  width: 260px;
  height: 8px;
  border: 1px solid #28780D;
  border-left: transparent;
  border-top: transparent;
  margin-left: -15px;
  margin-top: -4px;
  box-shadow: 0px 4px 25px rgba(40, 120, 13, 0.25);
  
  @media screen and (min-width: 768px) {
          width: 850px;
      }
      @media screen and (min-width: 1280px) {
        width: 600px;
    }
}

.line__super-line4{
  width: 100%;
  height: 1px;
  border: 1px solid #28780D;
  border-left: transparent;
  border-top: transparent;
  margin-top: -4px;
  margin-bottom: 48px;
  box-shadow: 0px 4px 25px rgba(40, 120, 13, 0.25);
  margin-right: -15px;
}