.take-order{
    position: relative;
    padding-top: 144px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  
    background-image: url(../images/take-order-dropdown/Take-order-mobile-bg-1.jpg);
    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx){
    background-image: url(../images/take-order-dropdown/Take-order-mobile-bg-2.jpg);
  }
@media screen and (min-width: 767px){
    padding-top: 256px;
    background-image: url(../images/take-order-dropdown/Take-order-tablet-bg-1.jpg);}
    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx){
    background-image: url(../images/take-order-dropdown/Take-order-tablet-bg-2.jpg);
  }

@media screen and (min-width: 1280px){
    background-size: cover;
    background-image: url(../images/take-order-dropdown/Take-order-desktop-bg-1.jpg);
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx){
    background-image: url(../images/take-order-dropdown/Take-order-desktop-bg-2.jpg);
  }
}

.take-order__container{
    max-width: 320px;
    @media screen and (min-width:768px) {
        max-width: 768px;
    }
  
    @media screen and (min-width:1280px) {
        max-width: 1280px;
    }
    @media screen and (min-width: 1280px){
      position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
    }
    
    }  

    
.take-order__title{
    position: relative;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    color: FFFFFF;
    @media screen and (min-width: 768px){
        font-size: 56px;
        line-height: 1.18;
        margin-left: 59px;
        
    }   
    @media screen and (min-width: 1280px) {
      margin-left: 121px;
    }
}
.subhead{
    margin-top: 35px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 32px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: FFFFFF;
    @media screen and (min-width: 768px){
        margin-top: 51px;
        font-size: 56px;
        line-height: 1.18;
        white-space: nowrap;
        letter-spacing: 0em;       
}
@media screen and (min-width: 1280px){
    margin: 0;
}
}

.sales__photo{
    border-radius: 12px;
    width: 100%;
    @media screen and (min-width: 768px){
        max-width: 387px;}
        }

.mobile-tablet__products{
    margin-top: 16px;
    align-items: center;
    @media screen and (min-width: 768px){
    display: flex;
    flex-wrap: wrap;
    align-items: initial;
    
}
@media screen and (min-width: 1280px){
    flex-wrap: nowrap;   
}
}

.price{
    display: flex;
    justify-content: space-between;
    @media screen and (min-width: 768px){
        display: block;
        margin-left: 40px;}
        @media screen and (min-width: 1280px){
            margin-left: 0px;
            display: flex;
            align-items: center;
            justify-content: unset;    
        }
        }

        

.price__before{
    margin-top: 16px;
    text-decoration: line-through;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: #8D9289;
    @media screen and (min-width: 768px){
        margin-top: 93px;
        font-size: 24px;
    }
    @media screen and (min-width: 1280px){
        margin-top: 32px;
        margin-right: 70px;
    }
    
}

.price__now{
    margin-top: 24px;
    
    font-family: 'Roboto';
    font-style: 500;
    font-size: 32px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: #86E543; 
    @media screen and (min-width: 768px){
        margin-top: 56px;
        font-size: 48px;
    }
    @media screen and (min-width: 1280px){
        margin-top: 32px;
        
    }}

.sales{
    display: flex;
    align-items: center;
    margin-top: 16px;
    @media screen and (min-width: 768px){
        margin-top: 24px;
        @media screen and (min-width: 1280px){
            margin-top: 40px;
        }
    }   
}

.sales__item:not(:last-child){
    margin-right: 16px;
    @media screen and (min-width: 768px){
        margin-right: 24px;
    }
}

  .sales__image{
    border-radius: 4px;
    @media screen and (min-width: 1280px){
        border-radius: 6px;  
    }
 }

.for-desktop{
    @media screen and (max-width: 1280px){
      position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
    }
    } 


.desktop-right{
    margin-left: auto;
    
}
.for-desktop-part{
    display: flex;
    margin-top: 75px;
    
}

.top-line-container {
    position: absolute;
    left: 0;
    top: 172px;
    display: flex;
  
    @media screen and (min-width: 768px) {
        top: 322px;
    }
  }
  
  .top-line {
    height: 8px;
  
    @media screen and (min-width: 768px) {
        height: 19px;
    }
  }
  
  .top-left-part {
    width: 58vw;
    border-bottom: 1px solid #7be34a;
    border-right: 0.5px solid #7be34a;
  
    @media screen and (min-width: 480px) {
        width: 55vw;
    }
  
    @media screen and (min-width: 768px) {
        width: 56vw;
    }
  
    @media screen and (min-width: 1280px) {
        width: 34vw;
    }
  
  }
  
  .top-right-part {
    width: 42vw;
    border-top: 1px solid #7be34a;
    border-left: 0.5px solid #7be34a;
  
  
    @media screen and (min-width: 480px) {
        width: 45vw;
    }
  
    @media screen and (min-width: 768px) {
        width: 44vw;
    }
  
    @media screen and (min-width: 1280px) {
        width: 68vw;
    }
  }
  
  .bottom-line-container {
    position: absolute;
    left: 0;
    top: 176px;
    display: flex;
  
    @media screen and (min-width: 768px) {
        top: 330px;
    }
  }
  
  .bottom-line {
    height: 8px;
  
    @media screen and (min-width: 768px) {
        height: 19px;
    }
  }
  
  .bottom-left-part {
    width: 59vw;
    border-bottom: 1px solid #28780d;
    border-right: 0.5px solid #28780d;
  
    @media screen and (min-width: 480px) {
        width: 55.7vw;
    }
  
    @media screen and (min-width: 768px) {
        width: 57vw;
    }
  
    @media screen and (min-width: 1280px) {
        width: 34.6vw;
    }
  
  }
  
  .bottom-right-part {
    width: 41vw;
    border-top: 1px solid #28780d;
    border-left: 0.5px solid #28780d;
  
    @media screen and (min-width: 480px) {
        width: 44.3vw;
    }
  
    @media screen and (min-width: 768px) {
        width: 43vw;
    }
  
    @media screen and (min-width: 1280px) {
        width: 66.4vw;
    }
  }
