.take-order{
    
    padding-top: 144px;
    background-image: url(../images/take-order-dropdown/Take-order-mobile-bg-1.jpg);
    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx){
    background-image: url(../images/take-order-dropdown/Take-order-mobile-bg-2.jpg);
  }
   
background-repeat: no-repeat;

@media screen and (min-width: 767px){
    padding-top: 256px;
    width: 100%;
    background-image: url(../images/take-order-dropdown/Take-order-tablet-bg-1.jpg);}
    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx){
    background-image: url(../images/take-order-dropdown/Take-order-tablet-bg-2.jpg);
  }

@media screen and (min-width: 1280px){
    
    background-image: url(../images/take-order-dropdown/Take-order-desktop-bg-1.jpg);
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx){
    background-image: url(../images/take-order-dropdown/Take-order-desktop-bg-2.jpg);
  }
}

.order-container{
    @media screen and (min-width: 1280px){
        display: none;
    }  
}




.order-title{
    position: relative;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: FFFFFF;
    @media screen and (min-width: 767px){
        margin-left: 59px;
        font-size: 56px;
        line-height: 1.18;
        
    }   
}
.order-subtitle{
    
    margin-top: 24px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 32px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: FFFFFF;
    @media screen and (min-width: 767px){
        font-size: 56px;
        line-height: 1.18;
        white-space: nowrap;
        letter-spacing: 0em;
        
        
}
}


.product-img{
    border-radius: 12px;
    width: 100%;
    @media screen and (min-width: 767px){
        margin-right: auto;
        margin-top: 24px;
        max-width: 387px;}
        @media screen and (min-width: 1280px){
            margin-top: 48px;
            
     
}}

.order-products{
    margin-top: 16px;
    align-items: center;
    @media screen and (min-width: 767px){
    display: flex;
    flex-wrap: wrap;
    align-items: initial;
    
}
@media screen and (min-width: 1280px){
    flex-wrap: nowrap;
    
}
}




.prices{
    display: flex;
    justify-content: space-between;
    @media screen and (min-width: 767px){
        display: block;
        margin-left: 40px;}
        @media screen and (min-width: 1280px){
            margin-left: 0px;
            display: flex;
            align-items: center;
            justify-content: unset;
            
            
            
        }
       
        }

.order-old-price{
    margin-top: 16px;
    text-decoration: line-through;
    font-family: 'Roboto';
    font-style: 500;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: #8D9289;
    @media screen and (min-width: 767px){
        margin-top: 93px;
        font-size: 24px;
    }
    @media screen and (min-width: 1280px){
        margin-top: 32px;
        margin-right: 70px;
    }
    
}

.order-new-price{
    margin-top: 24px;
    
    font-family: 'Roboto';
    font-style: 500;
    font-size: 32px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: #86E543; 
    @media screen and (min-width: 767px){
        margin-top: 56px;
        font-size: 48px;
    }
    @media screen and (min-width: 1280px){
        margin-top: 32px;
        
    }}

.sale{
    display: flex;
    align-items: center;
    margin-top: 16px;
    @media screen and (min-width: 767px){
        margin-top: 24px;
        @media screen and (min-width: 1280px){
            margin-top: 40px;
        }
    }
    
    
}

.order-headphone:not(:last-child){
    margin-right: 16px;
    @media screen and (min-width: 767px){
        margin-right: 24px;
    }
}

.product-bottom{
    border-radius: 4px;
    @media screen and (min-width: 1280px){
        border-radius: 6px;  
    }
 }

.for-desktop{
    @media screen and (max-width: 1280px){
        visibility: hidden;
    } 
}

.right-container{
    margin-left: auto;
    
}
.ccc{
    display: flex;
}
  
  .top-line-container {
    position: absolute;
    top: 30px;
    display: flex;
    @media screen and (min-width: 768px) {
      top: 58px;
    }
  }
  .top-line {
    height: 8px;
  }
  .top-left-part {
    width: 50vw;
    @media screen and (min-width: 1280px) {
      width: 30vw;
    }
    border-bottom: 1px solid #7be34a;
    border-right: 0.5px solid #7be34a;
  }
  .top-right-part {
    width: 100vw;
    border-top: 1px solid #7be34a;
    border-left: 0.5px solid #7be34a;
  }
  
  .bottom-line-container {
    position: absolute;
    top: 36px;
    display: flex;
    @media screen and (min-width: 768px) {
      top: 64px;
    }
  }
  .bottom-line {
    height: 8px;
  }
  .bottom-left-part {
    width: 51vw;
    @media screen and (min-width: 768px) {
      width: 51.2vw;
    }
    @media screen and (min-width: 1280px) {
      width: 30.6vw;
    }
    border-bottom: 1px solid #28780d;
    border-right: 0.5px solid #28780d;
  }
  
  .bottom-right-part {
    width: 100vw;
    border-top: 1px solid #28780d;
    border-left: 0.5px solid #28780d;
  }