.backdrop-order {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity 250ms linear, visibility 250ms linear;
  background-color: rgba(0, 20, 20, 0.8);
}
.backdrop-order.is-hidden .modal-order {
  transform: translate(-50%, -50%) scaleY(0);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-order {
  padding: 100px 20px;
  height: 383px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1);
  transition: transform 250ms linear;
  background-color: #01383a;
  @include contentMedia(768px) {
    height: 566px;
    width: 688px;
    padding: 88px 66px;
  }
  @include contentMedia(1280px) {
    height: 602px;
    width: 768px;
    padding: 88px 80px;
  }

  &__btn {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: transparent;
    position: absolute;
    top: 20px;
    right: 20px;
    @extend %flex-centred;
    background-color: inherit;
    border: 1.5px solid #86e543;
    border-radius: 50%;
    padding: 12px;
    @include contentMedia(768px) {
      padding: 10px;
    }
  }
}
.choice-order {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;

  @include contentMedia(768px) {
    gap: 56px;
  }

  &__header {
    white-space: pre-line;
    width: 232px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;
    text-align: center;

    color: #ffffff;
    @include contentMedia(768px) {
      width: 576px;
      font-size: 56px;
      line-height: 1.17;
    }
    @include contentMedia(1280px) {
      font-size: 64px;
      line-height: 1.17;
      width: 608px;
    }
  }

  &__link {
    padding: 16px 20px;
    width: 173px;
    border-radius: 16px;
    background: #86e543;
    border: transparent;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.18;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #01383a;
    @include contentMedia(768px) {
      width: 306px;
      font-size: 32px;
      line-height: 1.18;
    }
  }
}
